.container_text_center {
    border: 1px solid rgba(9, 98, 128, 0.151);
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;               
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 1.2rem; 
    text-align: center;  
    color: #333; 
    line-height: 1.5;    
}

.control{
    height: calc(1.5em + .75rem + calc(var(--bs-border-width) * 2));
    width: 100%;
    text-align: center;

}
